* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    transition: .5s linear;
}

body {
    background-color: #f8fbf6;
}

.navbar {
    background-color: #f8fbf6;
}

sub{
    text-decoration: line-through;
}

.containers {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 700px;
    background-color: #f8fbf6;
    width: 100vw;
}

.container>.left {}


.containers>.left>h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #2c3722;
}

.containers>.left>p {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #2c3722;
}

.containers>.left>input {
    padding: 15px 100px 15px 15px;
    border-radius: 10px;
    border: none;
    width: 300px;
    outline: none;
    box-shadow: 0px 0px 20px #e6e6e6;
}

.containers>.left>button {
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    color: #e6e6e6;
    outline: none;
    box-shadow: 0px 0px 20px #e6e6e6;
    background: rgb(172, 184, 73);
    background: linear-gradient(90deg, rgba(172, 184, 73, 1) 0%, rgba(92, 121, 9, 1) 100%);
}

.containers>.left>button:hover{
    background: linear-gradient(45deg, rgba(172, 184, 73, 1) 0%, rgba(92, 121, 9, 1) 100%);

}


.container2 {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: #ffffff;
    width: 100vw;
    gap: 100px;
}

.container2>.left {}

.container2>.left>img {
    background-color: #f8fbf5;

    background-position: center;
    background-size: cover;
    object-fit: cover;


}

.container2>.right>button {
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: #e6e6e6;
    outline: none;
    box-shadow: 0px 0px 20px #e6e6e6;
    background: rgb(172, 184, 73);
    background: linear-gradient(90deg, rgba(172, 184, 73, 1) 0%, rgba(92, 121, 9, 1) 100%);
}

.container2>.right>h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #2c3722;
}

.container2>.right>h2 {
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

    color: #fecf45;
}

.container2>.right>p {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #2c3722;
}

.container3 {
    flex-wrap: wrap;
    text-align: center;
    height: 500px;
    background-color: #ffffff;
    width: 100vw;
    gap: 30px;
}

.container3>h3 {
    color: #fecf45;
    font-family: "Poppins", sans-serif;

}

.container3>.allCards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.container3>.allCards>.carded {
    background-color: #f8fbf5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
}

.container3>.allCards>.carded>h1 {
    font-size: 20px;
    font-weight: bolder;
}

.container3>.allCards>.card2 {
    padding: 50px;
    border-radius: 10px;
    border-bottom: 3px solid #81c244;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgb(235, 234, 234);
}

li {
    list-style-type: none;
}

.container4 {
    text-align: center;
}

.container4>.hello {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container4>h1 {
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 30px;
}

.container4>.hello>.left>ul {
    text-align: left;
    line-height: 60px;
    font-size: 15px;
    color: #cccccc;
    border-left: 4px solid #e6e6e6;
}

.container4>.hello>.left>.ful {
    border-left: 4px solid #fecf45;

}

.container4>.hello>.left>ul>.l1 {
    color: #fecf45;
}


.container4>h3 {
    font-family: "Poppins", sans-serif;
    color: #fecf45;
}

.container4>.hello>.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container4>.hello>.right>.caaard {
    text-align: center;
    background-color: #fcfff8;
    box-shadow: 0px 0px 30px rgb(235, 234, 234);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.container4>.hello>.right>.card2 {
    border-bottom: 2px solid #59a92b;
    border-radius: 10px;
    padding: 30px;
}

.container4>.hello>.right>.caaard>h1 {
    font-size: 25px;
    font-weight: bold;
}

.container4>.hello>.right>.caaard>.price {
    color: #59a92b;
    font-size: 18px;
}

.container4 .bottttom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 250px;
}

.container6 {
    text-align: center;
}

.container6>h5 {
    color: #fecf45;
    font-family: "Poppins", sans-serif;

}

.container6>h1 {
    font-weight: bolder;
}

.container6>.news {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: left;
    margin-top: 40px;
    flex-wrap: wrap;
}

.container6>.news>.allNews>img {
    border-radius: 10px;
    height: 200px;
    margin-bottom: 20px;
}



.container6>.news>.allNews>p {
    font-size: 15px;
}

.container6>.news>.allNews>.pppp {
    color: #fecf45;
}

.container7 {
    padding-top: 100px;
    text-align: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container7>.input>input {
    padding: 15px 100px 15px 15px;
    border-radius: 10px;
    width: 300px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px #e6e6e6;
}

.container7>.input>button {
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    color: #e6e6e6;
    outline: none;
    box-shadow: 0px 0px 20px #e6e6e6;
    background: rgb(172, 184, 73);
    background: linear-gradient(90deg, rgba(172, 184, 73, 1) 0%, rgba(92, 121, 9, 1) 100%);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    background-color: #f8fbf5;
    min-height: 300px;
}